<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de alunos</title>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">

    <meta name="author" content="Maria Fernanda">

    <script src="/webjars/jquery/3.5.1/jquery.min.css" defer></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js" defer></script>

</head>
<body>

    <header th:fragment="cabecalho">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: blueviolet;">
            <a class="navbar-brand" th:href="@{/}">
                <img src="/img/logo.png" style="width: 60px;" alt="oii">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMobile">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="#navMobile" class="navbar-collapse collapse justify-content-end">
                <a href="#" class="nav-item nav-link">Home</a>
                <a th:href="@{/InserirAluno}" class="nav-item nav-link">Cadastrar aluno</a>
                <a href="#" class="nav-item nav-link">Pesquisar aluno</a>
                <a href="#" class="nav-item nav-link btn-danger">Sair</a>
            </div>
        </nav>
    </header>

    <footer th:fragment="rodape" style="background-color: blueviolet; text-align: center;">
        <span>todos os direitos reservados - 2023 Maria Fernanda</span>
    </footer>
    
</body>
</html>