<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+ Inserir Aluno</title>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">

    <meta name="author" content="Maria Fernanda">

    <script src="/webjars/jquery/3.5.1/jquery.min.css" defer></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js" defer></script>
    <script src="/js/main.js" defer></script>

</head>
<body>

    <!-- Header -->
    <div th:replace="~{fragmentos/fragmentos :: cabecalho}"></div>

    <h4>Encontrar Aluno</h4>
    <hr>
    <div class="row">
        <div class="card" style="width: 288px;">
            <img src="img/" alt="" class="card-img-top">

        </div>
    </div>

    

    <!-- FOOTER -->
    <div th:replace="~{fragmentos/fragmentos :: rodape}"></div>
    
</body>
</html>