<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>+ Inserir Aluno</title>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">

    <meta name="author" content="Maria Fernanda">

    <script src="/webjars/jquery/3.5.1/jquery.min.css" defer></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js" defer></script>
    <script src="/js/main.js" defer></script>

</head>
<body>

    <!-- Header -->
    <div th:replace="~{fragmentos/fragmentos :: cabecalho}"></div>

    <h3>Últmos alunos adicionados</h3>
    <hr>
    <table class="table table-bordered table-hover">
        <thead>
            <th scope="col">Nome</th>
            <th scope="col">Curso</th>
            <th scope="col">Matrícula</th>
            <th scope="col">Status</th>
            <th scope="col">Turno</th>
            <th scope="col">Ação</th>
        </thead>
        <tbody>
            <tr scope="row" th:each="alunos : ${listaDeAlunos}">
                <td th:text="${alunos.nome}"></td>
                <td th:text="${alunos.curso}"></td>
                <td th:text="${alunos.matricula}"></td>
                <td th:text="${alunos.status}"></td>
                <td th:text="${alunos.turno}"></td>

                <td>
                    <a class="btn btn-primary" th:href="@{alterar/{id}(id=${alunos.id})}">Editar</a>
                    <a class="btn btn-danger" th:href="@{excluir/{id}(id=${alunos.id})}">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- FOOTER -->
    <div th:replace="~{fragmentos/fragmentos :: rodape}"></div>

</body>
</html>