<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de alunos</title>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">

    <meta name="author" content="Maria Fernanda">

    <script src="/webjars/jquery/3.5.1/jquery.min.css" defer></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js" defer></script>

</head>
<body>

    <!-- Header -->
    <div th:replace="fragmentos/fragmentos :: cabecalho"></div>

    <section class="">
        <h1>Sistema de gerenciamento de alunos</h1>
        <h5>Cadastrar aluno</h5>
        <h5>Encontrar aluno</h5>

    </section>

    <!-- FOOTER -->
    <div th:replace="fragmentos/fragmentos :: rodape"></div>
    
</body>
</html>